*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#first{
    color: red;
    font-size: 30px;
    text-align: center;
}
.heading{
    color: blue;
    font-size: 25px;
}
hr{
    border: 2px solid black;
}
ul{
    background-color: rgb(220, 23, 148);
    color: white;
}
body{
    background-image: url('IMG20260608120333.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Times, serif;
}